.container {
  padding: 24px;
}

.header {
  margin-bottom: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.7;
  margin-bottom: 16px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}



.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardTitle {
  font-size: 17px;
  font-weight: 800;
  margin-left: 10px;
  margin-bottom: 20px;
}
.lastcardTitle {
  font-size: 17px;
  font-weight: 800;
  margin-left: 10px;
  margin-bottom: 8px;
}

.cardText {
  margin-top: 10px;
  flex: 1.5;
  margin-left: 10px;
}
.countGoal{
  font-size: 12px;
  color: #666;
}

.question {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.instruction {
  font-size: 13px;
  color: #666;
}
.accountQuestion {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}

.accountInstruction {
  font-size: 12px;
  color: #666;
}

.description{
  font-size: 12px;
  margin-top: 0;
  margin-left: 10px;
}



.cardImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.cardImage img {
  height: 30px;
  width: 100px;  /* 기존보다 작게 조정 */
  height: auto; /* 비율 유지 */
  max-width: 100%;
}


.LogincardImage img {
  height: 100px;
  width: 100px;  /* 기존보다 작게 조정 */
  max-width: 100%;
}

.serviceGrid {
  display: flex;
  justify-content: space-between;
}

.serviceCard {
  flex: 0 0 30%;
  text-align: center;
  padding: 1.3rem;
  background-color: #f8f9fa;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.serviceCard:hover {
  transform: scale(1.05);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


.serviceTitle {
  font-size: 0.75rem;
  font-weight: bold;
}
