@import "tailwindcss";

@theme {
  --color-brand-blue: #2a58fe;
  --color-custom-gray-1: #f9f9f9;
  --color-custom-gray-2: #ececec;
  --color-custom-gray-3: #808080;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Pretendard";
  src: url("/assets/fonts/Pretendard-Black.otf") format("opentype");
  font-weight: 900;
}

.input-style {
  @apply w-full p-3 rounded-lg border border-gray-300 bg-custom-gray-1 outline-none focus:ring-2 focus:ring-blue-200;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}
