@import "tailwindcss";

@theme {
  --color-brand-blue: #2a58fe;
  --color-custom-gray-1: #f9f9f9;
  --color-custom-gray-2: #ececec;
  --color-custom-gray-3: #808080;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/src/assets/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard-Black';
  src: url('/src/assets/fonts/Pretendard-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/src/assets/fonts/Pretendard-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('/src/assets/fonts/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/src/assets/fonts/Pretendard-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('/src/assets/fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/src/assets/fonts/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/src/assets/fonts/Pretendard-SemiBold.otf') format('opentype');  
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/src/assets/fonts/Pretendard-Thin.otf') format('opentype');
}

.input-style {
  @apply w-full p-3 rounded-lg border border-gray-300 bg-custom-gray-1 outline-none focus:ring-2 focus:ring-blue-200;
}

body {
  margin: 0;
}
