.nation-container {
    padding-top: 10px;
    position: relative;
}

.search-container {
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchInput {  
    width: 290px;
    height: 39px;
    background-image: url("../../assets/images/stock/search_stock.svg");
    text-indent: 20px;
}

.searchBtn {
    width: 39px;
    height: 39px;
}

.ranking-header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.ranking-title {
    font-size: 18px;
    font-weight: bold;
}

.ranking-title-k {
    font-size: 18px;
    padding: 30px 0;
    font-weight: bold;
}

.ranking-container {
    position: relative;
}

.ranking-tab {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    overflow-y: auto;
    gap: 4px;
    position: relative;
}

.ranking-tab::-webkit-scrollbar {
    display: none;
}

.stock-item {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.portfoliBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}


.portfoliBanner img {
    width: 100%;
    height: auto;
}

@layer utilities {
    .scrollbar-hide {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
}