.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  border-top: 1px solid #ddd;
  background-color: white;
  padding: 12px;
}

.footer-icon {
  color: var(--color-custom-gray-3);
}

.footer-icon-selected {
  color: var(--color-brand-blue);
}
