.footer {
  position: fixed;
  bottom: -5px;
  height: 10vh;
  border-top: 1px solid #ccc;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 50;
}

.footer-icon {
  color: var(--color-custom-gray-3);
}

.footer-icon-selected {
  color: var(--color-brand-blue);
}

.modal-overlay {
  z-index: 40;
}
